/* RENNER */

@font-face {
  font-family: Renner;
  src: url(../fonts/renner-book.otf);
  font-weight: normal;
}

@font-face {
  font-family: Renner;
  src: url(../fonts/renner-bold.otf);
  font-weight: 800;
}

@font-face {
  font-family: Renner;
  src: url(../fonts/renner-medium.otf);
  font-weight: 600;
}