/*
  SCALE RESETTING FOR FULL RESPONSIVENESS
  --
  --
  --
*/

/*Small devices (smartphone)
//------------------------------------------------------------//*/
html,
body {
  font-size: 16px !important;
  height: 100%;
  background-color: #000 !important;
  color: #fff !important;
  font-family: Renner, sans-serif !important;
}

h1 {
	font-size: 1.602em;
}
h2 {
	font-size: 1.424em;
}
h3 {
	font-size: 1.266em;
}
h4 {
	font-size: 1.125em;
}
h5 {
	font-size: 0.889em;
}
h6 {
	font-size: 0.79em;
}
.display-1 {
	font-size: 3.906em;
}
.display-2 {
	font-size: 3.125em;
}
.display-3 {
	font-size: 2.5em;
}
.display-4 {
	font-size: 2em;
}

/* Medium devices (tablets, 48em and up)
//------------------------------------------------------------//*/
@media (min-width: 48em) {
	h1 {
	  font-size: 2.441em;
	}
	h2 {
		font-size: 1.953em;
	}
	h3 {
		font-size: 1.563em;
	}
	h4 {
		font-size: 1.25em;
	}
	.display-1 {
		font-size: 6em;
	}
	.display-2 {
		font-size: 5.5em;
	}
	.display-3 {
		font-size: 4.5em;
	}
	.display-4 {
		font-size: 3.5em;
	}
}

/* Large devices (desktops, 62em and up)*/
@media (min-width: 62em) {
	html,
	body {
		font-size: 18px !important;
	}
}

/* Extra large devices (large desktops, 75em and up)*/
@media (min-width: 75em) {
	html,
	body {
		font-size: 20px !important;
	}
}

h1, h2, h3, h4, h5, h6
{
  font-family: Renner, sans-serif !important;
}

span, p, a
{  
  font-family: Renner, sans-serif !important;
}

.navbar, .footer-fixed
{
  background-color: rgba(0, 0, 0, .65);
}

#fixed-footer-social a
{
  -moz-transition: color .2s ease-in;
  -o-transition: color .2s ease-in;
  -webkit-transition: color .2s ease-in;
  transition: color .2s ease-in;

  color: rgba(255, 255, 255, 0.4);
}

#fixed-footer-social a:hover, #fixed-footer-social a:focus
{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

#fixed-footer-social a:active
{
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.nav-link
{
  text-transform: uppercase;
  letter-spacing: 3px;

  
}

@media (min-width: 950px)
{
  .navbar-expand-md .navbar-nav .nav-link 
  {
      padding-right: 25px !important;
      padding-left: 25px !important;
      font-size: 16px;
  }
}

.carousel, .carousel-item
{
  height: 100%;
}

.carousel-indicators li
{
  background-color: rgba(0, 0, 0, 0);
  position: relative;
  width: 75px;
  height: 75px;
  margin-bottom: 5%;
}

.carousel-indicators li.active
{
  background-color: rgba(0, 0, 0, 0);
}

.carousel-indicators li.active img
{
  opacity: 1;
}

.carousel-indicators li img
{
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.carousel-item
{
  overflow: hidden;
}

.caption-align-left
{
  left: 5%;
  right: auto;
  top: auto;
  bottom: 18%;
}

.caption-align-right
{
  left: auto;
  right: 5%;
  top: auto;
  bottom: 18%;
}

.carousel-caption
{
  top: auto;
  bottom: 18%;
}

.carousel-inner
{
  height: 100%;
}

.game-image, .game-trailer
{
  position: relative;
  display: table;
  margin: 0 auto;
  padding: 0 auto;
}

.game-trailer video
{
  position: absolute;
  top: -50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

.game-title
{
  display: table-cell;
  vertical-align: middle;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.game-trailer-description
{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
.section-title
{
  text-transform: uppercase;
}

.member-image
{
  width: 250px;
  height: auto;
}

.separator::after
{
  content: ".";
  opacity: 0;
}

.filter-dark {
  overflow: hidden;
  position: relative;
  color: #fff; }
  .filter-dark:before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    content: ' ';
    background: rgba(21, 21, 21, 0.75); }

.filter-light {
  overflow: hidden;
  position: relative;
  color: #212529; }
  .filter-light:before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    content: ' ';
    background: rgba(243, 243, 243, 0.75); }

.filter-color {
  overflow: hidden;
  position: relative;
  color: #fff; }
  .filter-color:before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    content: ' ';
    background: rgba(18, 187, 173, 0.75); }

.filter-gradient {
  overflow: hidden;
  position: relative;
  color: #fff; }
  .filter-gradient:before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    content: ' ';
    background: linear-gradient(-30deg, rgba(79, 112, 206, 0.9) 0%, rgba(18, 187, 173, 0.9) 50%, rgba(18, 187, 173, 0.95) 100%); }

.filter-fade-in {
  overflow: hidden;
  position: relative; }
  .filter-fade-in:before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    content: ' ';
    background: linear-gradient(white, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)); }

.overlay
{
position: absolute;
display: flex;
top: 0;
bottom: 0;
right: 0;
left: 0;
align-items: center;
justify-content: center;
flex-direction: column;
text-align: center;
}

.twitter-timeline.timeline-Widget
{
  background-color: #000000 !important;
}