html
{
  height: 100%;
  overflow-x: hidden;
}
* {
  -webkit-overflow-scrolling: touch;
}

body
{
  background-color: #000;
  color: #fff;
  min-height: 100%;
  height: 100%;
  overflow-x: hidden;
}

.masthead {
  height: 100vh;
  min-height: 500px;
}

.cover
{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.box-shadow
{
  -webkit-box-shadow: inset 0px 0px 100px 120px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 0px 100px 120px rgba(0,0,0,0.75);
box-shadow: inset 0px 0px 100px 120px rgba(0,0,0,0.75);
}

.bg-light
{
  background-color: #111 !important;
}

#mainNav
{
  background-color: rgba(0,0,0,0.0);
}
.promo-image
{
  position: relative;
}

.promo-image a
{
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);

  text-decoration: none;
  color: rgba(255, 255, 255, 0.3);
}

.promo-image a:hover
{
  
  color: rgba(255, 255, 255, 0.5);
}

.game-title
{
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game-poster
{
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
}

.game-video video
{
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  z-index: 0;
}